* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* 웹 접근성을 높이기 위해 사용 (스크린 리더기) visually-hidden : 화면사에서 보이지않게 함 스크롤할때 인식하게 해줌*/
.visually-hidden {
  display: none;  
}

header {
  height: 80px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position : fixed를 주면 whdth값이 본인이 가진 콘텐츠 만큼 줄어든다. */
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  /* 제자리 찾는걸 도와줌 (수정) */
  box-sizing: border-box;
  background-color: skyblue;
}

.logo img {
  width: 50px;
}

.gnb-list {
  display: flex;
}

.gnd-item a {
  padding: 20px;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url(../images/스누피배경.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.main-title {
  font-size: 48px;
}

.main-content {
  /* a,p 태그 사이의 간격 */
  margin-top: 20px;
}

.main-btn {
  /* 버튼을 통통하게 */
  padding: 10px;
  /* p ,버튼 사이의 간격 */
  margin-top: 20px;
  border-radius: 5px;
  /* 테두리 없애기 */
  border: none;
}


/* .post-card > div:first-child 
  박스 위쪽올리기 (-)  margin-top: -20px; */
.post-card {
  position: relative;
  top: -50px;
}

/* > 꺽새) 자식한테 선택하는 선택자 */
.post-card > div {
  /* 글자 끝부분이 줄어듬 */
  width: 80%;
  /* 최대폭을 결정하는 속성 : 600px 이상은 커지지 말아라 */
  /* 모니터창이 커지던 작던 600px 커졌다 작아졌다 안하고 고정 */
  max-width: 600px;
  /* 최소폭을 결정하는 속성 :300px 이하로는 작아지지 말아라 (동일한 화면으로 볼수있음) */
  min-width: 300px;
  /* 글자 박스들 가운데 정렬! */
  /* 양 옆 = auto / top : 30px / bottom :0 */
  margin: 30px auto 0 auto;
  /* 박스 밖 여백 : margin-top: 30px; */
  /* 글자 글씨들 가운데 정렬 */
  border-radius: 10px;
  text-align: center;
  /* 박스 안쪽에 여백 넣어주기 */
  padding: 30px;
  background-color: rgb(217, 241, 254);
}

.post-card > div:first-child {
  margin-top: 0;
}

.fixed-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgb(217, 241, 254)
}

.fixed-back-img {
  width: 1000px;
  height: 500px;
  background-color: #fff;
  background-image: url(../images/스누피2.png);
  /* 바둑판 이미지 안한다 */
  background-repeat: no-repeat;
  background-size: 500px;
  /* 이미지 위치를 정해줌 */
  /* px, %, top, bottom, left, right */
  /* px, % 사용시 왼쪽 상단을 기준으로 거리 기재한다. */
  /* x, y (가로x 세로y) 모두 center일 때는 center 한 번만 써도 된다. */
  background-position: center bottom;
  /* 스크롤과 상관없이 고정 효과를 줌 */
  background-attachment: fixed;
}

footer {
  /* 박스 여백 상하 */
  padding: 20px 0;
  background-color: skyblue;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.global-footer h3 {
  color: #fff;
}

.icon-list {
  display: flex;
}

.icon-item a {
  padding-right: 20px;
}

.icon-item:last-child a {
  padding-right: 0;
}

.icon-item i {
  font-size: 20px;
}

.top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.top-btn i {
  font-size: 38px;
  color: rgb(41 , 127, 161);
}

.side-menu {
  position: fixed;
  top: 150px;
  right: 50px;
}

.side-menu-list {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
  text-align: center;
}

.side-menu-item a {
  /* padding 값을 줘도 변함없을땐 inline-block 입력해준다. */
  display: inline-block;
  padding: 10px 0;
  color: #888;
}