* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

/* app */
#app {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

.container {
}

.container .page {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-size: 100%;
  background-position: center center;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  /* 하단으로 정렬 */
  align-items: flex-end;
}

.container .page:nth-child(1){
  background-image: url(../images/펭귄.webp);
}
.container .page:nth-child(2){
  background-image: url(../images/펭귄2.jpeg);
}
.container .page:nth-child(3){
  background-image: url(../images/펭귄3.webp);
}
.container .page:nth-child(4){
  background-image: url(../images/펭귄4.jpg);
}

.container .page.active {
  visibility: visible;
  opacity: 1;
} 
 
/* content */
/* 띄어쓰기 주의 !
 .container.active 를 넣었을경우 한class 로 이해 
.container .active 띄어쓰면 .container안에 .active 있다. */
.container .page .content {
  display: flex;
  flex-direction: column;
  /* 3개만 쓸 경우 상, 좌우, 하 */
  padding: 2rem 2rem 5rem;
  opacity: 0;
  z-index: 1;
}

.container .page::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent,#000);
}

/* keyframes */
.container .page.active .content {
  opacity: 0;
  animation: slideUP 1s linear 0.5s forwards;
}

/* navigation */
.nav {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  /* 화면 정중아에 정렬 */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: flex;
  overflow: hidden;
}

.nav .button {
  border: 0;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.nav .button:active {
  background-color: #16165f;
  color: #fff;
}

.nav .button.active {
  background-color: blue;
  color: #fff;
}
/* a:hover, a:active, a:link, a:visited */



@keyframes slideUP {
  /* from{}
  to{} */
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}