* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100PX;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.back-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-image: url(./images/눈.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid blue;
}

footer {
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}