* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.container {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* hsl - hue, saturation, lightness */
  background-color: hsl(180, 30%, 90%);
}

.site-header {
  width: 800px;
  background-color: #fff;
  /* 상하 값은 1rem, 좌우 값은 2rem */
  padding: 1rem;
  /* 브라우저 기본값 (16px) - 1rem */
  /* 0.5rem = 8px */
  /* 0.25rem = 4px */
  border-radius: 0.5rem;
  box-shadow: 0 3pX 1px 3px rgba(0,0,0,0.1),0 3px 10px rgba(0,0,0,0.3);
  /* MDN 사이트  https://codepen.io/pen/ 코딩펜 */
}

.site-header nav {
  display: flex;
  /* 필요에 따라 gap 씀  -> gap:1rem 간격을 조정해주는 속성 */
  align-items: center;
  justify-content: space-between;
}

.site-header nav ul {
  display: flex;
  list-style: none;
}

.site-header nav ul li {
  display: inline-flex;
  /* 1rem 16px ( rote em ) li 간격 조정*/
  padding: 1rem;
  /* 마우스 커버 손가락 모양으로 변환 */
  cursor: pointer;
  /* 사용자가 내용을 선택할 수 없도록 */
  user-select: none;
}

.site-header nav ul li.active{
  background-color: blue;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
}