* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

.images {
  display: flex;
}

.image-item {
  /* 100% 4개로 나눴을때 25 % */
  /* width: 25%; */
  width: calc(100%/4);
  height: 100vh;
  /* 사진 크기 / 넘어가는 걸 막아줌 */
  overflow: hidden;
}

.image-item.active {
  width: 80%;
}

.image-item img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}