* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  display: none;
}

.navbar {
  width: 300vw;
  display: flex;
  margin-top: 30px;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-gnb {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 10px;

}

.navbar-menu-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar-menu-item >li {
  display: none;
}

.navbar-icon {

}
